body
{
    font-family: 'helvetica', 'sans-serif';
    margin:0;
}

/* start of global style rules */
h1, h2,h3,h4,h5
{
 line-height:1.5;
 font-weight:300;
 margin:0.5em 0;
}

h1
{
    font-size:2.5em;
}

h2
{
    font-size:2em;
}

h3
{
    font-size:1.6em;
}

h4
{
    font-size:1.4em;
}

a
{
    text-decoration:none;
}


p,label,strong
{
    line-height:2;
    font-size:1em;
    font-weight:300;
}

.flex
{
    display:flex;
    max-width:1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content:space-between;
}
/* end of global styling */

/* start of header styles */
header
{
    background-color:black;
    padding:20px 0;
    position:relative;
    border-bottom:1px solid yellow;
}

.hamburger-menu
{
    background-color:transparent;
    border:1px solid yellow;
    padding: 3px 5px;
    width:30px;
    display:none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li
{
    display:inline-block;
    font-size:1.2em;
    margin: 0 18px;
}

nav ul li a
{
    color:white;
    font-weight:600;
}

nav ul li a:hover
{
    color:yellow;
}

.wallpaper-header 
{
  background-image: url('../img/esports1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height:820px;
}

.header-text
{
    max-width: 1200px;
    margin:-30px auto 0;
    position:absolute;
    top:40%;
    left:0;
    right:0;
    padding: 0 20px;
}

.header-text h1
{
 color:white;
 font-size: 3.5em;
 font-weight:bold;
 margin:1em 0;
}

.header-text span
{
    color:yellow;
    text-decoration:underline;
}


.header-text h5
{
color: white;
font-size: 0.85em;
font-weight: 300;
max-width: 500px;
line-height: 2;
margin-bottom: 2.5em;
}

/* start of the information */
.Esports-info
{
    margin-bottom: 75px;
    margin-top: 75px;
    color:white;

}

.Esports-info .flex
{
    flex-basis: 25%;
    padding:10%;
    position:relative;
    height:380px;
}

.box-pic1
{
    background-image: url('../img/val.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.box-pic2
{
    background-image: url('../img/titan.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.box-pic3
{
    background-image: url('../img/skit1.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.box-pic4
{
    background-image: url('../img/dvt.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.Esports-info .Contents 
{
    position: absolute;
    z-index:2;
    bottom: 20px;
    left:0;
    color:white;
    padding-right:10px;
}

.Esports-info .flex .contents a:visited  
{
  color:cyan;
}

.Esports-info .flex .contents a:hover
{
    text-decoration: underline;
}

.Esports-info .flex .contents a:active
{
  color:yellow;
}


.stats
{
    background-image: url('../img/stats.jpg');
    background-color: #eef2f6;
    border-top:1px solid yellow;
    border-bottom:1px solid yellow;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    padding:70px 0 120px;
}

.stats img
{
    max-width: 100%;
    height:auto;

}

.stats img:hover 
{
    box-shadow: 0 0 2px 3px rgba(0, 140, 186, 0.5);
}

.stats h1 
{
text-align: center;
color:#00e8ec;
font-weight: bold;
text-decoration: underline;
}

.stats .box
{
    position: relative;
    flex-basis: 43%;
    background-color: #fff;
}

.stats .box .box-lower-section
{
    padding: 20px;
}

.stats .box .box-lower-section p 
{
    color: #999;
}

footer
{
    background-color:#252525;
    padding: 25px;
    font-size: 1.5em;
}

footer ul
{
    list-style-type: none;
    margin:0;
}

footer ul li 
{
    display:inline-block;
    margin: 0 12px;
}

footer ul li a
{
    color:#ddd;
    font-size:0.8em;
}

footer ul li a:hover
{
    color:yellow;
}


/*comp html*/
.wallpaper-header2
{
  background-image: url('../img/comp.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height:560px;
  border-bottom:3px solid yellow;
}

.comp-info
{
    padding:125px 0 105px;
}

.comp-info .flex
{
    position:relative;
}

.comp-info .box
{
  background-color: #252525;
  border:3px solid rgb(0, 255, 247);
  padding:70px 0 0 40px;
  flex-basis: 45%;
  position:relative;
}

.comp-info .box .set-up
{
    float:left;
    width:30%;
}

.comp-info .box .set-up img
{
    width:100%;
    margin-left:100%;
}

.comp-info .box .contents
{
    float:left;
    margin-left:25%;
    width:60%;
    color: silver;
}

.comp-info .box .contents h3 
{
    color:yellow;
    margin-top: 0;
}

.teams
{
    padding:75px 0 0 0 ;    
    border-bottom:3px solid yellow;
}

.teams h1
{
    text-align:center;
    margin-bottom:1.65em;
}

.teams .box
{
    flex-basis: 23%;
    position:relative;
    text-align:center;
}

.teams .esports-team
{
    margin-bottom:0.75em;
    width:15em;
    height:15em;
}

.teams .esports-team img
{
    width: 100%;
    height:70%;
}

.teams .box p
{
    color:#999;
}
/* end of the comp html */


/* experience html */
.wallpaper-header3
{
  background-image: url('../img/experience.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height:560px;
  border-bottom:3px solid yellow;
}



/* end of experience html*/
.modal
{
    position: sticky;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 500px;
    max-width: 80%;
  }

  .modal.active 
  {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header 
  {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .modal-header .title 
  {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal-header .close-button 
  {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .modal-body 
  {
    padding: 10px 15px;
  }
  